.homePageBannerWrapper {
  .ant-carousel {
    width: 625px;
    height: 270px;
    .slick-slide {
      width: 625px;
      height: 270px;
      overflow: hidden;
      .img {
        width: 625px;
        height: 270px;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
}